@use 'abstracts' as *;

.btn {
    display: inline-block;
    cursor: pointer;

    color: var(--clr-neutral-white);

    &--size--small {
        padding: 0.57em 1.57em;
    }

    &--size--medium {
        padding: 0.65em 2em;
    }

    &--size--fat-long {
        padding: 0.58em;

        @include mq(medium) {
            padding: 0.85em 2em;
        }
    }

    &--size--tiny-long {
        width: 100%;
        padding: 0.5em;

        @include mq(medium) {
            padding: 0.57em 2.07em;
        }
    }

    &--style--rounded {
        border-radius: 1.4em;
    }

    &--style--sharpened {
        border-radius: 0.28em;

        @include mq(medium) {
            border-radius: 0.33em;
        }
    }

    &--theme--grass {
        background-color: var(--clr-primary-cyan);

        &:hover,
        &:active,
        &:focus {
            background-color: var(--clr-primary-cyan-hover);
        }
    }

    &.copied {
        background-color: var(--clr-primary-dark-violet);

        &.btn--size--tiny-long {
            width: 100%;
            padding: 0.5em;

            @include mq(medium) {
                padding: 0.57em 1.4em;
            }
        }
    }
}
