.shortener {
    margin-top: -4.44em;
}

.shortener__header {
    padding: 1.33em;
    border-radius: 0.56em;

    background-color: var(--clr-primary-dark-violet);
    background-image: url(/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;

    input {
        width: 100%;
    }

    label + input {
        margin-top: 0.89em;
    }

    & + .shortener__body {
        margin-top: 1.33em;
    }
}

.shortener__body {
    & > * + * {
        margin-top: 1.33em;
    }
}

.shortener__item {
    background-color: var(--clr-neutral-white);
    border-radius: 0.28em;

    font-size: var(--fs-300);
    line-height: 2.25;
    letter-spacing: 0.12px;
}

.shortener__item-header {
    padding: 0.38em 1em;

    color: var(--clr-neutral-dark);
    border-bottom: 1px solid var(--clr-neutral-grayish-violet-low-opacity);
}

.shortener__item-body {
    color: var(--clr-primary-cyan);
    padding: 0.38em 1em 1em;

    button {
        width: 100%;
    }

    span + button {
        margin-top: 0.13em;
    }
}
