@use 'abstracts' as *;

.shortener {
    margin-top: -4.44em;
}

.shortener__header {
    padding: 1.33em;
    border-radius: 0.56em;

    background-color: var(--clr-primary-dark-violet);
    background-image: url(/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;

    @include mq(medium) {
        padding: 2.89em 3.58em;

        background-image: url(/images/bg-shorten-desktop.svg);
    }

    label + input {
        margin-top: 0.89em;

        @include mq(medium) {
            margin-top: 0;
        }
    }

    & + .shortener__table {
        margin-top: 1.33em;
    }
}

.shortener__error {
    margin-top: 0.33em;
    color: var(--clr-secondary-red);

    @include mq(medium) {
        position: absolute;
        bottom: -1.8rem;
        left: 0;
    }
}

.shortener__btn {
    margin-top: 1em;

    @include mq(medium) {
        margin-top: 0;
    }
}

// SHORTENER FORM ================================>
.shortener__form {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(medium) {
        flex-direction: row;
    }

    & > input {
        border-radius: 0.5em;
    }
}

// SHORTENER TABLE ================================>
.shortener__table {
    width: 100%;
}

.shortener__table-body {
    & > * + * {
        margin-top: 1.33em;

        @include mq(medium) {
            margin-top: 0.89em;
        }
    }
}

.shortener__table-item {
    display: flex;
    flex-direction: column;

    border-radius: 0.28em;

    text-align: left;
    background-color: var(--clr-neutral-white);

    @include mq(medium) {
        flex-direction: row;

        padding: 0.89em 1.33em 0.89em 1.78em;
    }
}

.shortener__table-item-link-l {
    max-height: 2.81rem;

    padding: 0.38em 1em;

    border-bottom: 1px solid var(--clr-neutral-grayish-violet-low-opacity);
    color: var(--clr-neutral-dark);

    overflow: hidden;
    
    @include mq(medium) {
        max-width: 50%;

        padding: 0;

        border: none;
    }

    span {
      max-width: 100%;
      word-wrap: anywhere;
    }
}

.shortener__table-item-link-s {
    padding: 0.38em 1em;

    color: var(--clr-primary-cyan);

    @include mq(medium) {
        margin-left: auto;
        padding: 0;

        margin-right: 1.2em;
    }
}

.shortener__table-item-btn {
    padding: 0 0.89em 0.89em;

    @include mq(medium) {
        padding: 0;
    }
}
