@use 'abstracts' as *;
@use 'base' as *;
@use 'utilities/container' as *;
@use 'utilities/color-wrapper' as *;
@use 'components' as *;

html {
    scroll-behavior: smooth;
}

main {
    overflow: hidden;
}

.header {
    display: flex;
    padding: 2.22em 0;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 2.5em;
}

.nav {
    display: none;
    width: 100%;

    ul > * {
        display: inline-block;
    }

    @include mq(medium) {
        display: flex;
        align-items: center;
    }
}

.nav__link {
    color: var(--clr-neutral-grayish-violet);

    & + & {
        margin-left: 2em;
    }

    a:hover,
    a:focus {
        color: var(--clr-neutral-dark);
    }
}

.nav__login {
    margin-left: auto;

    & .nav__link {
        margin-right: 2.47em;
    }
}

.intro {
    text-align: center;

    padding-bottom: 9.33em;

    @include mq(medium) {
        display: flex;
        flex-direction: row-reverse;

        text-align: left;

        margin-top: 2.11em;

        padding-bottom: 8.5em;
    }
}

.intro__img {
    max-width: 31.9375rem;
    margin-left: 5vw;
    margin-bottom: 2.05em;

    @include mq(medium) {
        max-width: 40.72rem;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: -14.44em;
    }
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(medium) {
        align-items: flex-start;
    }
}

.intro__title {
    color: var(--clr-neutral-dark);
    margin-bottom: 0.35em;
}

.intro__description {
    max-width: 43ch;

    color: var(--clr-neutral-grayish-violet);
    margin-bottom: 1.77em;
}

.statistics {
    margin-top: 4.44em;
    padding-bottom: 4.44em;

    text-align: center;

    .statistic-block + .statistic-block {
        margin-top: 5.11em;

        &::before {
            content: "";
            display: block;

            width: 0.5rem;
            height: 5.75rem;

            position: absolute;
            top: -5.75rem;
            left: 50%;
            transform: translateX(-50%);

            background-color: var(--clr-primary-cyan);
        }
    }
}

.statistics__title {
    margin-bottom: 0.57em;
}

.statistics__description {
    margin-bottom: 5.75em;
    color: var(--clr-neutral-grayish-violet);
}

.boost {
    text-align: center;

    background-color: var(--clr-primary-dark-violet);
    background-image: url(/images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 5em 0;
}

.boost__title {
    color: var(--clr-neutral-white);
    margin-bottom: 0.57em;
}

.footer {
    text-align: center;

    padding: 3.11em;
    background-color: var(--clr-neutral-very-dark-violet);
}

.footer__logo {
    filter: brightness(100);
    margin-bottom: 2.67em;
}

.footer__block-info {
    & + & {
        margin-top: 2.22em;
    }
}

.footer__block-info-title {
    color: var(--clr-neutral-white);

    margin-bottom: 1.38em;
}

.footer__link {
    color: var(--clr-neutral-gray);

    & + & {
        margin-top: 0.67rem;
    }

    a:hover,
    a:focus,
    a:active {
        color: var(--clr-primary-cyan);
    }
}

.socials {
    margin-top: 2.67em;

    * + * {
        margin-left: 1.33em;
    }
    li {
        display: inline;

        &:hover,
        &:focus,
        &:active {
            path {
                fill: var(--clr-primary-cyan);
            }
        }
    }
}
