@use 'abstracts' as *;
@use 'base' as *;
@use 'utilities/container' as *;
@use 'utilities/color-wrapper' as *;
@use 'components' as *;

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    padding: 2.22em 0;
}

.intro {
    overflow: hidden;
    text-align: center;

    padding-bottom: 9.33em;
}

.intro__img {
    width: 31.9375rem;
    margin-left: 5vw;
    margin-bottom: 2.05em;
}

.intro__title {
    color: var(--clr-neutral-dark);
    margin-bottom: 0.35em;
}

.intro__description {
    color: var(--clr-neutral-grayish-violet);
    margin-bottom: 1.77em;
}
