@use 'abstracts' as *;
@use 'base' as *;
@use 'utilities/container' as *;
@use 'utilities/color-wrapper' as *;
@use 'utilities/hidden' as *;
@use 'components' as *;

html {
    scroll-behavior: smooth;
}

main {
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding: 2.22em 0;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 2.5em;
}

.nav {
    display: none;
    width: 100%;

    ul > * {
        display: inline-block;
    }

    @include mq(medium) {
        display: flex;
        align-items: center;
    }
}

.nav__link {
    color: var(--clr-neutral-grayish-violet);

    & + & {
        margin-left: 2em;
    }

    a:hover,
    a:focus {
        color: var(--clr-neutral-dark);
    }

    a:focus {
        text-decoration: underline;
    }
}

.nav__login {
    margin-left: auto;

    & .nav__link {
        margin-right: 2.47em;
    }
}

.intro {
    text-align: center;

    padding-bottom: 9.33em;

    @include mq(medium) {
        display: flex;
        flex-direction: row-reverse;

        text-align: left;

        margin-top: 2.11em;

        padding-bottom: 8.5em;
    }
}

.intro__img {
    max-width: 31.9375rem;
    margin-left: 5vw;
    margin-bottom: 2.05em;

    @include mq(medium) {
        max-width: 40.72rem;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: -14.44em;
    }
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(medium) {
        align-items: flex-start;
    }
}

.intro__title {
    color: var(--clr-neutral-dark);
    margin-bottom: 0.35em;
}

.intro__description {
    max-width: 43ch;

    color: var(--clr-neutral-grayish-violet);
    margin-bottom: 1.77em;
}

.statistics {
    margin-top: 4.44em;
    padding-bottom: 4.44em;

    text-align: center;

    @include mq(medium) {
        margin-top: 6.67em;
        padding-bottom: 6.67em;
    }

    .wrapper {
        position: relative;

        @include mq(medium) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1.67em;
            align-items: flex-start;

            &::after {
                content: "";
                display: block;

                background-color: var(--clr-primary-cyan);

                position: absolute;
                top: 43%;
                left: 29%;

                width: 27.78rem;
                height: 0.44rem;
            }
        }
    }
}

.statistics__statistic-block {
    position: relative;
    z-index: 10;

    & + & {
        margin-top: 5.11em;

        &::before {
            content: "";
            display: block;

            width: 0.5rem;
            height: 5.75rem;

            position: absolute;
            top: -5.75rem;
            left: 50%;
            transform: translateX(-50%);

            background-color: var(--clr-primary-cyan);

            @include mq(medium) {
                display: none;
            }
        }

        @include mq(medium) {
            margin-top: 0;
        }
    }

    &:nth-of-type(2) {
        @include mq(medium) {
            margin-top: 2.44em;
        }
    }

    &:nth-of-type(3) {
        @include mq(medium) {
            margin-top: calc(2.44em * 2);
        }
    }
}

.statistics__title {
    margin-bottom: 0.57em;

    @include mq(medium) {
        margin-bottom: 0.45em;
    }
}

.statistics__description {
    max-width: 46ch;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 5.75em;
    color: var(--clr-neutral-grayish-violet);

    @include mq(medium) {
        margin-bottom: 5.56rem;

        font-size: var(--fs-350);
    }
}

.boost {
    padding: 5em 0;

    text-align: center;

    background-color: var(--clr-primary-dark-violet);
    background-image: url(/images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;

    @include mq(medium) {
        padding: 3.17em 0;

        background-image: url(/images/bg-boost-desktop.svg);
    }
}

.boost__title {
    color: var(--clr-neutral-white);
    margin-bottom: 0.57em;

    @include mq(medium) {
        margin-bottom: 0.8em;
    }
}

.footer {
    text-align: center;

    padding: 3.11em;
    background-color: var(--clr-neutral-very-dark-violet);
}

.footer__inner {
    @include mq(large) {
        display: flex;
        justify-content: space-between;
    }
}

.footer__nav {
    @include mq(large) {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 5.56em;
    }
}

.footer__logo {
    filter: brightness(100);
    margin-bottom: 2.67em;
}

.footer__block-info {
    @include mq(large) {
        text-align: left;
    }

    & + & {
        margin-top: 2.22em;

        @include mq(large) {
            margin-top: 0;
        }
    }
}

.footer__block-info-title {
    color: var(--clr-neutral-white);

    margin-bottom: 1.38em;
}

.footer__link {
    color: var(--clr-neutral-gray);

    & + & {
        margin-top: 0.67rem;
    }

    a:hover {
        color: var(--clr-primary-cyan);
    }

    a:focus {
        color: var(--clr-primary-cyan);
        text-decoration: underline;
    }
}

.socials {
    margin-top: 2.67em;

    @include mq(large) {
        margin-top: 0;
    }

    * + * {
        margin-left: 1.33em;
    }

    li {
        display: inline;

        a {
            &:hover,
            &:focus {
                path {
                    fill: var(--clr-primary-cyan);
                }
            }

            &:active {
                path {
                    fill: var(--clr-neutral-white);
                }
            }
        }
    }
}
