@use 'font-face' as *;

body {
    font-family: "Poppins";
    font-size: 1.125rem;
    font-weight: 500;
}

.burger-menu {
    font-weight: 700;
}

h1 {
    font-size: var(--fs-900);
    font-weight: 700;
    line-height: 1.143;
}

.intro__description {
    line-height: 1.667;
}
