@use 'font-face' as *;
@use 'abstracts' as *;

body {
    font-family: "Poppins";
    font-size: 1.125rem;
    font-weight: 500;
}

h1 {
    font-size: var(--fs-900);
    line-height: 1.143;
}

h2 {
    font-size: var(--fs-700);
    line-height: 1.778;

    @include mq(medium) {
        line-height: 1.2;
    }
}

.intro__description {
    line-height: 1.667;
}

.statistic-block__description {
    line-height: 1.733;
}

.statistics__description {
    line-height: 1.75;
}

.input,
.shortener__table-item {
    line-height: 2.25;
}

.shortener__table-item {
    @include mq(medium) {
        line-height: 2.5;
    }
}

.input {
    @include mq(medium) {
        line-height: 1.8;
    }
}

.footer__link,
.statistic-block__description {
    font-size: var(--fs-200);
}

.input,
.shortener__item,
.statistics__description,
.footer__block-info-title {
    font-size: var(--fs-300);
}

.nav__link,
.btn--size--small {
    font-size: var(--fs-200);
}

.btn--size--medium {
    font-size: var(--fs-500);
}

.btn--size--tiny-long {
    @include mq(medium) {
        font-size: var(--fs-200);
    }
}

.btn--size--fat-long {
    @include mq(medium) {
        font-size: var(--fs-300);
    }
}

.statistic-block__title {
    font-size: var(--fs-600);
}

.input,
.input-wrapper,
.shortener__item,
.statistics__description {
    letter-spacing: 0.11px;
}

.input-wrapper,
.shortener__error {
    font-style: italic;
}

.input-wrapper {
    font-size: var(--fs-250);
    line-height: 1.1;
}

.shortener__error {
    font-size: var(--fs-100);
    line-height: 1.5;
    letter-spacing: 0.08px;
}

.btn,
.nav__link,
.burger-menu,
.footer__block-info-title {
    font-weight: 700;
}

.shortener__long-link,
.shortener__short-link {
    line-height: 1.8;
    letter-spacing: 0.15px;
}

.statistics__description {
    @include mq(medium) {
        font-size: var(--fs-350);
    }
}
